@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    color: azure;

}


body{
    margin: 120px;
    background: rgb(44, 44, 44);;
}

header{
    text-align: center;
    font-size: 2.5em;
}

caption{
    font-size: 1.7em;
}

table {
    width: 90%;
    height: 33vh;
    border-collapse: collapse;
    border-radius: 10px;
    border: 2px solid #c2c2c2;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

thead{
    text-align: left;
    font-size: 1.2em;
    padding: 10px;

}

tr{

    padding: 14px;
    border: 2px solid #c2c2c2;


}

td, th{
    padding: 14px 10px;
    width: 50%;
    margin-right: 0.5em;
}
.table-third td,.table-third th {
     padding: 14px 10px;
     width: 63%;
 }
.lasttd{
        width: 25%;

}

.publication-data{
    position: relative;
    color: gray;
}

.fa-ellipsis-h {
    position: absolute;
    right: 2em;

}
.end{
    position: absolute;
    right: 12.6em;
}

a{
    text-decoration: none;
}
a:hover{
    color: gold;
    text-decoration: overline;

}

i:hover{
    color: gold;
    cursor: pointer;
}

.table-third tr td input{
    text-align: center;
    margin: -0.4em -0.1em -0.4em -0.4em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    padding-left: 1.7em;
    border-radius: 6px;
    background-image: url("../img/loupe.png");
    background-repeat: no-repeat;
    background-color: azure;
    background-size: 25px 25px;
    background-position: 8px 8px;
    position:relative;
    font-size: 1em;
    color: black;
    border: none;

}
.ico-checkbox{
    width: 17px;
    margin: -0.1em -0.1em 0.1em -0.1em;
}
.fa-file-pdf{
    margin: 0.2em;
}



input:focus{ color: goldenrod}

